<table class="table">
    <thead>
        <tr>
            <td>Imagen</td>
            <td>Nombre</td>
            <td>Tipo</td>
            <td>Precio</td>
            <td>Stock</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price}}</td>
            <td>{{beer.stock}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Ipa</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Cream stout</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>